@charset "UTF-8";

*{
  font-size: 13px;
  color: #333;
  font-family: "游ゴシック体",YuGothic,"游ゴシック","Yu Gothic",Meiryo,"メイリオ",sans-serif;
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

.s-round{
  color: #fff;
  background-color: #ffa800;
  font-weight: bold;
  border-radius: 20px;
  border: none;
}

.round-button{
  color: #fff;
}

nav{
  margin: 0 auto;
  max-width: 980px;
  padding: 15px 0;
}

nav ul{
  width: 100%;
  display: flex;
  padding: 0;
}

nav ul li{
  margin-right: 20px;
  padding: 8px 0;
}

nav ul li:first-child{
  margin-right: 107px;
}

nav ul li:last-child{
  margin-right: 0;
  padding: 0;
}

nav ul li img{
  max-width: 100px;
  height: auto;
}

nav ul li a{
  display: block;
}

nav ul li button{
  padding: 8px 10px;
}

div.header-view{
  background: url(../img/first-view.jpg);
  padding: 60px 0 120px;
}

div.headerBox{
  max-width: 662px;
  margin: 0 auto;
  text-align: center;
}

div.headerBox-img img{
  width: 100%;
}

div.headerBox-text{
  margin-top: 40px;
}

div.headerBox-text p,div.headerBox-text li{
  color: #fff;
}

div.headerBox-text ul{
  margin-top: 40px;
  border-top: 1px solid #fff;
  padding-top: 40px;
}

div.headerBox-text button{
  margin-top: 40px;
  padding: 10px 55px;
}